<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<% if @group.new_record? %>
  <p>Looks like you're not associated to any groups at the moment.</p>
  <%= render 'form', group: @group %>
<% else %>

<% end %>


