<div class="ui vertical center aligned segment cm-hero">
  <div class="ui text container">
    <h1 class="ui header">
      Welcome to chermeals!
    </h1>
    <h2>
      Easily share your meal kit subscriptions with friends and coworkers.
    </h2>
    <%= link_to join_path, {class: 'ui huge primary button'} do %>
      Get started <i class="right arrow icon"></i>
    <% end %>

  </div>
</div>
