<p id="notice"><%= notice %></p>

<h2>Up for grabs</h2>

<div class="ui link cards">
  <%= render partial: "index_card", collection: @available_meals, as: :meal%>
</div>

<div class="ui hidden divider"></div>


<h2>Taken</h2>

<div class="ui link cards">

<div class="ui link cards">
    <%= render partial: "index_card", collection: @taken_meals, as: :meal%>
  </div>

</div>

<div class="ui buttons">


</div>
